<!DOCTYPE HTML>
<HTML>
    
    <Head>
    </Head>

    <body>
        <h1> 
        Página Principal
        </h1>
        <%= link_to 'Destacados', pages_Destacados_path %>
        
        <%= link_to 'Comida', pages_Comida_path %>

        <%= link_to 'Alojamiento', pages_Alojamiento_path %>


        <%= link_to 'BaresYLicores', pages_BaresYLicores_path %>


        <%= link_to 'DeporteYEntretenimiento', pages_DeporteYEntretenimiento_path %>

        <%= link_to 'Productos', pages_Productos_path %>

        <%= link_to 'Servicios', pages_Servicios_path %>

        <%= link_to 'Salud', pages_Salud_path %>
        
        <%= link_to 'Educacion', pages_Educacion_path %>

        <%= link_to 'Otros', pages_Otros_path %>

        <%= link_to 'Guia', pages_Guia_path %>

        <%= link_to 'Contactanos', pages_Contactanos_path %>

        <%= link_to 'QuienesSomos', pages_QuienesSomos_path %>

        <%= link_to 'Recordatorio', pages_Recordatorio_path %>
    
    </body>

</HTML>